<nav class="navbar navbar-expand-lg  navbar-transparent border rounded" style="margin-top: 20px;">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item ">
                    <a class="nav-link active tamaño" aria-current="page"  routerLink="/Citas/listado"><span class="color">Visto</span></a>
                </li>
                <li class="nav-item" >
                    <a class="nav-link active tamaño" aria-current="page" routerLink="/Clientes/listado"><span class="color">No visto</span></a>
                </li>
            </ul>
        </div>
    </div>
</nav>
